<!-- Arquivo: views/jogos/index.ejs -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8" />
   <title>Jogos</title>
   <link rel="stylesheet" href="/css/styles.css" />
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
   <h1>Jogos Eletrônicos</h1>
   <p>
      <button class="btn_topo"><a id="link_remover" href="/jogos/novo">Cadastrar novo jogo</a></button>
      <button class="btn_topo"><a id="link_remover" href="/amigos">Amigos</a></button>
      <button class="btn_topo"><a id="link_remover" href="/api/jogos">Ver JSON</a></button>
      <button class="btn_topo"><a id="link_remover" href="/emprestimos">Empréstimos</a></button>
      <a href="/pdf/jogos" target="_blank"><button class="btn_pdf">PDF</button></a>
   </p>
   <table class="table table-success table-striped">
      <thead>
         <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Plataforma</th>
            <th>Dono</th>
            <th>Ações</th>
         </tr>
      </thead>
      <tbody>
         <% jogos.forEach(j=> { %>
            <tr>
               <td>
                  <%= j.id %>
               </td>
               <td>
                  <%= j.titulo %>
               </td>
               <td>
                  <%= j.plataforma %>
               </td>
               <td>
                  <%= j.dono ? j.dono.nome : 'Sem dono' %>
               </td>
               <td>
                  <button class="btn_editar"><a id="link_remover" href="/jogos/editar/<%= j.id %>">Editar</a></button>
                  <form action="/jogos/excluir/<%= j.id %>" method="POST" style="display:inline;">
                     <button class="btn_excluir" type="submit">Excluir</button>

                  </form>
               </td>
            </tr>
            <% }) %>
      </tbody>
   </table>
</body>

</html>